# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js Build Output & Cache
/.next/
/out/
/build
.next
next-env.d.ts

# Turbopack & TS Build Info
*.tsbuildinfo
.turbo

# Environment Variables
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb
*.log

# OS & Editor
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
